In [1]:
import pandas as pd
pd.options.display.max_columns=110
pd.options.display.max_rows=300
import numpy as np
import pleiades as ple

In [783]:
import_path = r'..\data\#michellewilliams_classify.csv'
data = pd.read_csv(import_path, low_memory=False)

import_path = r'..\data\#michellewilliams_classify2.csv'
data2 = pd.read_csv(import_path, low_memory=False)

In [784]:
nabe = ple.Nabe()

In [785]:
data.shape

(13452, 5)

In [786]:
nabe.get_nulls(data)

{'retweeted_status.id_str': 3005,
 'retweeted_status.full_text': 12757,
 'conservative': 4416}

In [777]:
data['conservative'] = data2['conservative']

In [778]:
n = 4412

In [779]:
data.loc[n]

id_str                                                      1214349491949723648
full_text                     RT @Vasco_Irlandes: #MichelleWilliams #Murdere...
retweeted_status.id_str                                             1.21426e+18
retweeted_status.full_text                                                  NaN
conservative                                                                NaN
Name: 4412, dtype: object

In [780]:
t = data['full_text'][n]
t

'RT @Vasco_Irlandes: #MichelleWilliams #Murderer https://t.co/RMvSZZsTPN https://t.co/OWvoVYZzic'

In [781]:
data['conservative'] = [1 if x == t else y for x, y in zip(data['full_text'], data['conservative'])]

In [782]:
export_path = r'..\data\#michellewilliams_classify.csv'
data.to_csv(export_path, index=False)

In [798]:
import json

In [822]:
import_path = r'..\data\replies_to_jk_rowling.json'
with open(import_path) as f:
    j = json.load(f)
    data = pd.io.json.json_normalize(j)

# import_path = r'..\data\#michellewilliams_classify2.csv'
# data2 = pd.read_json(import_path, low_memory=False)

In [823]:
data.shape

(5726, 180)

In [803]:
data.columns

Index(['created_at', 'id', 'id_str', 'full_text', 'truncated',
       'display_text_range', 'source', 'in_reply_to_status_id',
       'in_reply_to_status_id_str', 'in_reply_to_user_id',
       ...
       'quoted_status.place.id', 'quoted_status.place.url',
       'quoted_status.place.place_type', 'quoted_status.place.name',
       'quoted_status.place.full_name', 'quoted_status.place.country_code',
       'quoted_status.place.country', 'quoted_status.place.contained_within',
       'quoted_status.place.bounding_box.type',
       'quoted_status.place.bounding_box.coordinates'],
      dtype='object', length=180)

In [810]:
export_path = r'..\data\replies_to_jk_rowling.csv'
data.to_csv(export_path, index=False)

In [808]:
data['retweeted']

0       False
1       False
2       False
3       False
4       False
        ...
5721    False
5722    False
5723    False
5724    False
5725    False
Name: retweeted, Length: 5726, dtype: bool

In [829]:
df = data[(data['lang'] == 'en') | (data['lang'] == 'und')]

In [830]:
df.shape

(5361, 180)

In [831]:
df = df[['id_str', 'full_text']]

In [832]:
export_path = r'..\data\replies_to_jk_rowling_classify2.csv'
df.to_csv(export_path, index=False)

In [838]:
import_path = r'..\data\replies_to_jk_rowling_classify3.xlsx'
data2 = pd.read_excel(import_path)

In [839]:
data2.shape

(5726, 3)

In [840]:
df.shape

(5361, 2)

In [843]:
df2 = pd.merge(df, data2, how='inner', on='id_str')

ValueError: You are trying to merge on object and int64 columns. If you wish to proceed you should use pd.concat

In [842]:
df2.shape

(3303, 4)

In [814]:
export_path = r'..\data\replies_to_jk_rowling_classify.csv'
df.to_csv(export_path, index=False)

In [52]:
df['full_text'][0]

'RT @CriticsChoice: #Michellewilliams wins the #criticschoice Award for Best Actress In A Limited Series Or Movie Made For Television for he…'

In [ ]:
df['full_text'][0]

In [86]:
df.shape

(13482, 4)

In [66]:
df = df[df['full_text'] != 'RT @CriticsChoice: #Michellewilliams wins the #criticschoice Award for Best Actress In A Limited Series Or Movie Made For Television for he…']

In [67]:
df.shape

(13482, 4)

In [87]:
df.loc[1008]

id_str                                                      1215470667661004800
full_text                     RT @V_actually: Hollywood's full of sexual dev...
retweeted_status.id_str                                             1.21529e+18
retweeted_status.full_text    Hollywood's full of sexual deviants &amp; pedo...
Name: 1008, dtype: object

In [88]:
df['full_text'][1008]

"RT @V_actually: Hollywood's full of sexual deviants &amp; pedophiles that have sold their souls for fame.\n\nIt’s amazing the amount of brainwash…"

In [92]:
df['conservative'] = df['full_text'].map({'RT @V_actually: Hollywood\'s full of sexual deviants &amp; pedophiles that have sold their souls for fame.\n\nIt’s amazing the amount of brainwash…': 1})

In [93]:
df['conservative'].count()

506

In [94]:
export_path = r'..\data\#michellewilliams_classify3.csv'
df.to_csv(export_path, index=False)

In [95]:
import_path = r'..\data\#michellewilliams_classify3.csv'
data2 = pd.read_csv(import_path, low_memory=False)

In [98]:
data2.loc[1205]

id_str                                                      1215316789548199936
full_text                     RT @americansunited: S/O to #MichelleWilliams ...
retweeted_status.id_str                                             1.21468e+18
retweeted_status.full_text                                                  NaN
conservative                                                                NaN
Name: 1205, dtype: object

In [78]:
data2['id_str'][232]

1216078555152617472

In [104]:
import_path = r'..\data\#michellewilliams_classify5.csv'
data3 = pd.read_csv(import_path, low_memory=False)

In [101]:
data3['id_str'][232]

1.22e+18

In [102]:
data3.columns

Index(['id_str', 'full_text', 'retweeted_status.id_str',
       'retweeted_status.full_text', 'conservative'],
      dtype='object')

In [114]:
data2['conservative'] = data3['conservative']

In [115]:
data2['full_text'][101]

"RT @RockofLifeNI: At tonight's #goldenglobes2020 pregnant actress #MichelleWilliams said she wouldn't have won if she hadn't aborted her ot…"

In [118]:
data2['conservative'] = [1 if x == "RT @RockofLifeNI: At tonight's #goldenglobes2020 pregnant actress #MichelleWilliams said she wouldn't have won if she hadn't aborted her ot…" else y for x, y in zip(data2['full_text'], data2['conservative'])]

In [119]:
export_path = r'..\data\#michellewilliams_classify7.csv'
data2.to_csv(export_path, index=False)